*{
    margin: 0;
    padding: 0;
}

/*
60%# #0D1F2D
30% 22162B
10% F49F0A
*/

.menuResponsive{
    background-color: aquamarine;
}



header div nav ul .menuItems{
    background-color: bisque;
    display: inline-block;
}